<br/>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-4">
		<h4><a><b>{{showButton[1-toggleFlag]}}</b></a></h4>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4">
		<ul class="list-inline" style="float:right">
			<li class="list-inline-item" *ngIf="permissions.addProject"><button routerLink="/add-project" class="btn btn-primary">Add Project</button></li>
			<li class="list-inline-item"><button class="btn btn-primary"(click)="showMyProjects()">{{showButton[toggleFlag]}}</button></li>
		</ul>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4">
		<md-paginator [length]="totalProjectCount" [pageSize]="4" (page)="onPageChange($event)"> </md-paginator>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-7 col-xs-7">
		<ul style="list-style-type: none;">
			<li *ngFor="let project of projects">
				<md-card style="cursor:pointer" [routerLink]="['/projects',project.pid]">
					<div class="row">
						<div class="col-md-2">
							<img md-card-avatar style="width: 70px; height: 70px" src="https://png.icons8.com/material/1600/00897B/project" />
						</div>
						<div class="col-md-10" style="word-wrap: break-word">
							<md-card-header>
								<md-card-title>
									<a style="word-break: break-all; white-space: normal;">
								<b>{{project.title}}</b>
							</a> </md-card-title>
								<md-card-subtitle>{{project.startDate | date:"dd-MMM-yyyy"}}
								</md-card-subtitle>
								<md-card-subtitle>{{project.description}}</md-card-subtitle>
							</md-card-header>
						</div>
					</div>
				</md-card> <span>&nbsp;</span></li>
		</ul>
	</div>
	<router-outlet></router-outlet>
</div>