<div class="col-md-5 col-sd-6 col-xs-5">
	<md-card>
		<md-card-content>
			<div class="row">
				<div class="col-md-3 col-xs-3"></div>
				<div class="col-md-6 col-xs-6" style="text-align: center; margin-left: -20px">
					<img md-card-avatar class="img-responsive" style="width: 170px; height: 170px;display:block;margin:auto" src="https://png.icons8.com/material/1600/00897B/company"
					/>
					<md-card-header>
						<h4 style="width: 100%; text-align: center; margin-left: -20px; word-wrap: break-word">{{client?.name}}</h4>
					</md-card-header>
					<h5 style="word-wrap: break-word">Location: {{client?.location}}
					</h5>

					<br />
					<div *ngIf="projects[0]">
						<h5 style="word-wrap: break-word">
							<b>Projects:</b>
						</h5>
						<ul style="list-style-type: none; padding-left: 0px; cursor: pointer">
							<li *ngFor="let project of projects"><a [routerLink]="['/search/project/', project['pid']]">{{project['title']}}</a>
							</li>
						</ul>
					</div>

					<br />
					<div *ngIf="employees[0]">
						<h5 style="word-wrap: break-word">
							<b>Employees:</b>
						</h5>
						<ul style="list-style-type: none; padding-left: 0px; cursor: pointer">
							<li *ngFor="let employee of employees"><a [routerLink]="['/search/employee/', employee['eid']]">{{employee['firstName']}}</a>
							</li>
						</ul>
					</div>
					<div *ngIf="permissions?.editClient">
						<br/>
						<ul class="list-inline">
							<li><button class="btn btn-primary" [routerLink]="['/edit-client/',cid]">Edit Client</button></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xs-3"></div>
			</div>

		</md-card-content>
	</md-card>
</div>