<div
	class="navbar navbar-default"
	style="margin-bottom:0px"
	role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button
				type="button"
				class="navbar-toggle"
				data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a
				class="navbar-brand"
				href="#">EIMA</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div
			class="col-xs-2 col-sm-2 col-md-2 sidebar"
			id="sidebar"
			role="navigation">
			<div class="sidebar-nav">
				<ul class="nav">

					<li class="active">
						<a href="#">View Profile</a>
					</li>
					<li>
						<a href="#">Edit Profile</a>
					</li>
					<li>
						<a routerLink="/employees">All Employees</a>
					</li>
					<li>
						<a routerLink="/projects">Projects</a>
					</li>
					<li>
						<a routerLink="/clients">Clients</a>
					</li>
					<li>
						<a routerLink="/departments">Department</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-10 col-sm-10 col-md-10">
		<router-outlet></router-outlet>
		</div>


	</div>
	
	<footer
	style="bottom: 0; height: 80px; margin-top: 30px; width:100%">
	<hr>
	<p>Wissen Technology</p>
</footer>

</div>

