<div class="navbar navbar-default" style="margin-bottom: 0px" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">EIMA</a>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<ul class="nav navbar-nav">
					<li class="active"><a href>Home</a></li>
					<!-- <li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li> -->
				</ul>
			</div>
			<div class="col-md-4 col-xs-4 col-sm-4" style="width:20%;margin:5px">
				<div class="row">
					<div class="input-group" id="adv-search">
						<form [formGroup]="searchBar">
							<input formControlName="bar" type="text" class="form-control" placeholder="Search {{tables[ind]}}" />
						</form>
						<div class="input-group-btn">
							<div class="btn-group" role="group">
								<div class="dropdown dropdown-lg">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
									<div class="dropdown-menu dropdown-menu-right" role="menu">
										<form [formGroup]="searchFilter" class="form-horizontal" (ngSubmit)="fetchResults()">
											<div class="form-group">
												<label for="filter">Search For</label>
												<select formControlName="searchFor" class="form-control" (change)="onSearchChange($event.target)">
													<option *ngFor="let table of tables,let idx=index" value="{{idx}}">{{table}}</option>
                                    			</select>
											</div>
											<div class="form-group">
												<label for="contain">Search By</label>
												<select formControlName="searchBy" class="form-control">
													<option *ngFor="let field of fields[ind],let idx=index" value={{idx}}>{{field}}</option>
                                    			</select>
											</div>
											<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
										</form>
									</div>
								</div>
								<button (click)="fetchResults()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 sidebar" id="sidebar" role="navigation">
			<div class="sidebar-nav">
				<ul class="nav">
					<li><a routerLink="/dashboard">My Dashboard</a></li>
					<li><a routerLink="/profile">My Profile</a></li>
					<li><a routerLink="/employees">All Employees</a></li>
					<li><a routerLink="/projects">Projects</a></li>
					<li><a routerLink="/clients">Clients</a></li>
					<li><a routerLink="/departments">Department</a></li>
				</ul>
			</div>
		</div>

		<div class="col-xs-10 col-sm-10 col-md-10">
			<div class="container">
				<router-outlet></router-outlet>
			</div>
		</div>


	</div>

	<!-- <footer style="bottom: 0; height: 80px; margin-top: 30px; width: 100%">
		<hr>
		<p>Wissen Technology</p>
	</footer> -->
	<br/>
	<br/>

</div>