<br/>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <h4><a><b>Edit Project</b></a></h4>
  </div>
</div>
<hr/>
<div class="container">
  <div class="col-md-7 col-sm-7 col-xs-7">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form [formGroup]="editProjectForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Title:</label>
            <input formControlName="title" type="text" class="form-control" id="title" placeholder="Enter Title">
           
          </div>
          <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input formControlName="startDate" type="date" class="form-control" id="startDate" placeholder="Enter Start Date">
            
          </div>
          <div class="form-group">
            <label for="endDate">End Date:</label>
            <input formControlName="endDate" type="date" class="form-control" id="endDate" placeholder="Enter End Date">
            
          </div>
           <div style="display:none" formGroupName="client">
            <div class="form-group">
              <label style="visibility:hidden" for="client">Client:</label>
              <select style="visibility:hidden" formControlName="cid" type="text" class="form-control" id="cid" placeholder="Enter Client">
            <option *ngFor="let client of clients" [value]="client.cid">{{client.name}}</option>
          </select>
            </div>
          </div> 
          <div style="display:none" formGroupName="department">
            <div class="form-group">
              <label style="visibility:gone" for="department">Department:</label>
              <select style="visibility:gone" formControlName="deptId" type="text" class="form-control" id="deptId" placeholder="Enter Department">
            <option *ngFor="let department of departments" [value]="department.deptId">{{department.deptName}}</option>
          </select>
            </div>
          </div> 
          <button [disabled]="!editProjectForm.valid" class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>