<br/>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <h4><a><b>My Dashboard</b></a></h4>
  </div>
</div>
<hr/>
<md-card>
  <md-card-content>
    <div class="row">
      <div class="col-md-3 col-xs-3" style="text-align: center;">
        <img md-card-avatar class="img-responsive" style="width: 170px; height: 170px" src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg"
        />
      </div>
      <div class="col-md-9 col-xs-9">
        <h3 style="word-wrap: break-word;cursor:default"><a><b>{{employee?.firstName}}&nbsp;{{employee?.middleName}}&nbsp;{{employee?.lastName}}</b></a></h3>
        <h5 style="word-wrap: break-word">
          <small>Designation: </small> {{employee?.designation}}
        </h5>
        <h5 style="word-wrap: break-word">
          <small>Department: </small> {{department?.deptName}}
        </h5>
        <h5 style="word-wrap: break-word">
          <small>Gender: </small> {{gender[+employee?.gender]}} &nbsp;&nbsp;<span title="Not Visible to others" *ngIf="!user?.genderVisible"
            class="glyphicon glyphicon-eye-close"></span>
        </h5>
        <h5 style="word-wrap: break-word">
          <small>DOB: </small> {{employee?.dob | date:"dd-MMM-yyyy"}}&nbsp;&nbsp;<span title="Not Visible to others" *ngIf="!user?.dobVisible"
            class="glyphicon glyphicon-eye-close"></span>
        </h5>
        <h5 style="word-wrap: break-word">
          <small>Joined on: </small> {{employee?.joiningDate | date:"dd-MMM-yyyy"}}
        </h5>
        <h5 style="word-wrap: break-word" *ngIf="employee?.leavingDate">
          <small>Left on: </small> {{employee?.leavingDate | date:"dd-MMM-yyyy"}}
        </h5>
        <h5 style="word-wrap: break-word">
          <small>Phone: </small> {{employee?.phoneNumber}}&nbsp;&nbsp;<span title="Not Visible to others" *ngIf="!user?.phoneVisible"
            class="glyphicon glyphicon-eye-close"></span>
        </h5>
        <h5 style="word-wrap: break-word" *ngIf="employee?.addresses[0]">
          <small>Address: </small>
          <p>{{employee?.addresses[0].line1}}, {{employee?.addresses[0].line2}}, {{employee?.addresses[0].city}}-{{employee?.addresses[0].pincode}},
            {{employee?.addresses[0].state}}, {{employee?.addresses[0].country}} &nbsp;&nbsp;
            <span title="Not Visible to others" *ngIf="!user?.addressVisible" class="glyphicon glyphicon-eye-close"></span>
          </p>
        </h5>
        <br/>
        <h5><small>Last Login: </small>{{user?.lastLogin|date:"dd-MMM-yyyy, HH:mm"}}</h5>
        <br/>
        <ul class="list-inline">
          <button *ngIf="permissions?.editEmployee" class="btn btn-primary" [routerLink]="['/edit-employee',user?.eid]">Edit Details</button>
          <button class="btn btn-primary" routerLink="/set-visibility">Change Visibility</button>
        </ul>
      </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1"></div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <md-card style="cursor:pointer">
          <md-card-content style="text-align:center" routerLink="/projects">
            <h5>Worked on</h5>
            <a style="font-size: 70px;text-align: center;width: 100%;text-decoration:none">{{projectCount}}</a>
            <h5><b>Project(s)</b></h5>
          </md-card-content>
        </md-card>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <md-card style="cursor:pointer" routerLink="/clients">
          <md-card-content style="text-align:center">
            <h5>Worked with</h5>
            <a style="font-size: 70px;text-align: center;width: 100%;text-decoration:none">{{clientCount}}</a>
            <h5><b>Client(s)</b></h5>
          </md-card-content>
        </md-card>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <md-card style="cursor:default">
          <md-card-content style="text-align:center">
            <h5>Completed</h5>
            <a style="font-size: 70px;text-align: center;width: 100%;text-decoration:none" *ngIf="employee?.leavingDate">{{+(employee.leavingDate|date:"yyyy")-+(employee.joiningDate|date:"yyyy")}}</a>
            <a style="font-size: 70px;text-align: center;width: 100%;text-decoration:none" *ngIf="!employee?.leavingDate">{{year-+(employee?.joiningDate|date:"yyyy")}}</a><br/>
            <h5><b>Year(s)</b></h5>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-card-content>
  <div *ngIf="manager">
    <hr/>
    <h4><b>My Manager</b></h4>
    <md-card style="cursor:pointer" [routerLink]="['/search/employee',manager?.eid]">
      <div class="row">
        <div class="col-md-2">
          <img md-card-avatar style="width: 70px; height: 70px" src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg"
          />
        </div>
        <div class="col-md-10" style="word-wrap: break-word">
          <md-card-header>
            <md-card-title>
              <a style="word-break: break-all; white-space: normal;">
								<b>{{manager['firstName']}}&nbsp;{{manager['middleName']}}&nbsp;{{manager['lastName']}}</b>
							</a> </md-card-title>
            <md-card-subtitle>{{manager['designation']}}</md-card-subtitle>
          </md-card-header>
        </div>
      </div>
    </md-card>
  </div>

</md-card>